.vscode/
*-blx.bib
*.7z
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ilg
*.ind
*.lof
*.log
*.log
*.lol
*.lol
*.lot
*.nav
*.out

*.pytxcode
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.toc
*.vrb
*.xml
svg-inkscape/*
!figures/*
!concept/*
!design/*
!implementation/*
!analysis/*
.DS_Store